<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnStringLocal" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=d:\Datos User\Escritorio\FAC 2021\.NET\Parciales PC .NET 2020\Net.DB.Usuario.mdf;Integrated Security=True;Connect Timeout=30"/>
	</connectionStrings>
</configuration>